@model Jacmazon_ECommerce.Models.UserTable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>

    <h4>User</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form id="form" action="/api/Webapi/Login" method="post">
                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    請輸入圖形驗證碼：<input type="text" id="ValidatePictureCode" name="ValidatePictureCode" />
                    <img id="Test"/>
                </div>


                <div class="form-group">
                    <input type="button" onclick="sendForm()" value="Create" class="btn btn-primary" />
                    <label id="ErrorText" style="color:red">123</label>
                </div>
                <div>
                    <input type="button" onclick="sendForm2()" value="LoginIndex" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    
    <script type="text/javascript" >
        var ErrorMessage = '@Html.Raw((ViewData["ErrorMessage"]))';
        $(document).ready(function () {
            $("#ErrorText").text(ErrorMessage);
        })

        //登入
        function sendForm() { 
            //取得Form的物件資料
            var data = $("#form").serializeArray(); 

            $.ajax({
                method: "POST",
                url: "/api/Webapi/Login",
                data: data
            })
                .done(function (msg) {
                    //設定Cookie值
                    $.cookie('JWT_Token', msg, {expires: 1, path: '/'});
                    window.location.href = "/shop/index";
                });
        }

        //驗證Authorize
        function sendForm2() {
            $.ajax({
                method: "Get",
                url: "/api/Webapi/LoginIndex",
                headers: { 'Authorization': "Bearer " + $.cookie("JWT_Token") } //驗證Token
            })
                .done(function (msg) {
                    //window.location.href = "/shop/LoginIndex";
                });
        }
    </script>
</body>
</html>
